:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url(/image/bg-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--Violet);
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}

.logo {
    width: 150px;
    height: 80px;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 3rem;
    padding: 0;
}


/* CALLOUT */

.callout {
    display: flex;
    flex-direction: column;
}

.callout__image {
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
}

.callout__body {
    padding: 0 2rem;
    color: #fff;
    padding-bottom: 2rem;
}

.callout__heading {
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0 2rem;
    margin-top: 3rem;
    font-weight: 600;
    text-align: center;
}

.callout__text {
    margin-bottom: 2rem;
    padding: 0 1.9rem;
    text-align: center;
    font-weight: 400;
}

.btn {
    background-color: #fff;
    color: var(--Violet);
    padding: .5rem 1rem;
    outline: 0;
    border: 0;
    border-radius: 40px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.btn:active {
    background-color: var(--Soft-Magenta);
    color: #fff;
    transition: background .3s ease-in-out;
}

.callout__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.callout__icons {
    align-self: center;
    margin-top: 1.5rem;
}

.icons {
    display: inline-block;
}

.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    stroke-width: 0;
    stroke: currentColor;
    fill: #fff;
    margin: 1rem;
    margin-top: 3rem;
}


/* MEDIA QUERIES */

@media screen and (min-width:1024px) {
    body {
        font-size: 20px;
    }
}

@media screen and (min-width:768px) {
    body {
        background-image: url(/image/bg-desktop.svg);
    }
    .grid {
        display: grid;
        gap: 0;
    }
    .grid-2x2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .callout__icons {
        align-self: flex-end;
        margin-top: 5rem;
        align-self: flex-end;
    }
    .callout__body {
        padding: 0;
    }
    .callout__heading {
        text-align: left;
    }
    .callout__text {
        text-align: left;
    }
    .btn {
        align-self: flex-start;
        margin: 1.9rem;
    }
}